/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f5f2;
  color: #000;
  line-height: 1.6;
}

header {
  background-color: #101524;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.search-bar input {
  width: 90%;
  max-width: 600px;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #6b759733;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar input:focus {
  border-color: #101524;
  box-shadow: 0 0 8px rgba(16, 21, 36, 0.2);
}

/* Total URLs Label */
.total-urls-label {
  text-align: center;
  font-size: 0.9rem;
  color: #777;
  margin-top: 5px;
}

/* Search Results */
.container {
  padding: 1rem;
}

.result-item {
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  background-color: #fff;
  border: 1px solid #e3cccbb3;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.result-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.result-item h3 {
  font-size: 1.2rem;
  color: #101524;
  margin-bottom: 0.3rem;
}

.result-item a {
  color: #101524;
  text-decoration: none;
  font-weight: bold;
}

.result-item a:hover {
  color: #455273;
}

.result-meta {
  font-size: 0.85rem;
  color: #666;
  margin-top: 0.5rem;
}

/* Pagination */
.pagination {
  text-align: center;
  margin-top: 1rem;
}

.pagination button {
  background-color: #101524;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
}

.pagination button:hover {
  background-color: #455273;
}

.pagination button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* Responsive */
@media (max-width: 768px) {
  header h1 {
      font-size: 1.5rem;
  }

  .search-bar input {
      width: 100%;
  }
}
